<!--menu.html-->

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">

      <a class="navbar-brand" href="/client/request">
        Notebooks
      </a>
    </div>

    <div class="navbar-header">
      <a class="navbar-brand" href="/ap/request">
        Access Points
      </a>
    </div>

    <div class="navbar-header">

      {{ if not .is_logged_in }}
      <a class="navbar-brand" href="/user/login">Login</a>
      {{end}}

      {{ if .is_logged_in }}
      <a class="navbar-brand" href="/user/adminka">Logout</a>
      {{end}}

      {{ if .is_logged_in }}
      <a class="navbar-brand" href="/user/logout">Logout</a>
      {{end}}

    </div>
  </div>
</nav>
