<!--menu.html-->

<!-- MIDDLE. simple white
<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="#" class="nav-link px-2">Features</a></li>
      <li><a href="#" class="nav-link px-2">Pricing</a></li>
      <li><a href="#" class="nav-link px-2">FAQs</a></li>
      <li><a href="#" class="nav-link px-2">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2">Login</button>
      <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
  </header>
</div>
-->

<!-- ВЫРЕЗАНО
class="navbar navbar-expand-lg navbar-violet bg-violet" "aria-label="Main navigation"
<button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
</button>
<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
</li>
<form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
<ul class="nav nav-pills">
-->
<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" color="violet" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
        <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1zm1 12h2V2h-2zm-3 0V7H7v7zm-5 0v-3H2v3z"/>
      </svg>
    </a>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">

      <ul class="nav nav-pills">
        <li class="nav-item">
          {{ if .page_client}}
            <a class="nav-link active" aria-current="page" href="/client/request">Notebooks</a>
          {{ else }}
            <a class="nav-link" href="/client/request">Notebooks</a>
          {{ end }}
        </li>
        <li class="nav-item">
          {{ if .page_ap}}
            <a class="nav-link active" aria-current="page" href="/ap/request">Access Points</a>
          {{ else }}
            <a class="nav-link" href="/ap/request">Access Points</a>
          {{ end }}
        </li>
        <li class="nav-item">
          {{ if .page_test}}
            <a class="nav-link active" aria-current="page" href="/test/request">Test</a>
          {{ else }}
            <a class="nav-link" href="/test/request">Test</a>
          {{ end }}
        </li>

        <li class="nav-item">
          {{ if not .is_logged_in}}
            {{ if .page_login}}
              <a class="nav-link active" aria-current="page" href="/user/login">Login</a>
            {{ else }}
              <a class="nav-link" href="/user/login">Login</a>
            {{end}}
          {{ else }}
            <a class="nav-link" href="/user/logout">Logout</a>
          {{end}}
        </li>
        <li class="nav-item">
          {{ if .is_logged_in}}
            {{ if .page_adminka}}
              <a class="nav-link active" aria-current="page" href="/user/adminka">Adminka</a>
            {{else}}
              <a class="nav-link" href="/user/adminka">Adminka</a>
            {{end}}
          {{end}}
        </li>
      </ul>
      <!--
        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2" formaction="/user/login">Login</button>
          <button type="button" class="btn btn-warning" formaction="/user/login">Sign-up</button>
        </div>
      -->
      <!--
      <form class="d-flex" align="right" action="/user/login">
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
    -->
    </div>
  </div>
</nav>


<!--
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
-->

<!-- v.3.6.6
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">

      <a class="navbar-brand" href="/client/request">
        Notebooks
      </a>
    </div>

    <div class="navbar-header">
      <a class="navbar-brand" href="/ap/request">
        Access Points
      </a>
    </div>

    <div class="navbar-header">

      {{ if not .is_logged_in }}
      <a class="navbar-brand" href="/user/login">Login</a>
      {{end}}

      {{ if .is_logged_in }}
      <a class="navbar-brand" href="/user/adminka">Adminka</a>
      {{end}}

      {{ if .is_logged_in }}
      <a class="navbar-brand" href="/user/logout">Logout</a>
      {{end}}

    </div>
  </div>
</nav>
-->