<!--client.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<!--Display the title of the article -->
<!--<h2>{{.Title}}</h2>-->
<h2>{{.hostname}}</h2>

  <!--Loop over the `anomalies_struct` variable, which is the list of anomalies structure-->
  {{range .anomalies_struct }}

    <!--Create the link for the article based on its ID-->
    <!--<a href="/article/view/{{.ID}}">-->
    <!--<a href="/client/view/{{.HOSTNAME}}">-->
    <!--</a>-->

    <!--Display the content of the anomaly-->
    <!--<p>{{.Content}}</p>-->
    <p>{{.ApName}}</p>
    <p>{{.DateHour}}</p>

        <!--Loop over the `anomalies_string` variable, which is the list of anomalies string-->
        {{range .SliceAnomStr }}
          <p>{{ . }}</p>
        {{end}}

  {{end}}

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}